*
{
    -webkit-user-select:none;
    user-select:none;
}
body
{
    background:#f0f0eb;
}
img
{
    width:100%;    
}
#cards_container
{
    display:-webkit-box;
    display:box;
    -webkit-box-orient:horisontal;
    box-orient:horisontal;
}
.column
{
    -webkit-box-flex:1;
    box-flex:1;
    width:25%;
}
.card
{
    position:relative;
	margin:1em auto;
	width:140px;
	height:140px;
	-webkit-perspective:500;
    perspective:500;
    border:15px solid #fff;
}
.card .front,.card .back
{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	/* important: transitions needed for flip effect! */
	-webkit-transition: all .5s ease-in-out;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
	-webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}
.card .front
{
	z-index:9;
    background:white;
    font-size:70px;
    text-shadow:5px 1px 1px grey;
}
.card .back
{
	z-index:8;
	-webkit-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
}
.active .front, .finished .front
{
	z-index:9;
	-webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}
.active .back, .finished .back
{
	z-index:10;
	-webkit-transform:rotateY(0deg);
    transform:rotateY(0deg);
}
@-webkit-keyframes cardDoneAnimation 
{
       0% { opacity:1; -webkit-transform:scale(1);}
      12% { opacity:1; -webkit-transform:scale(1.03); }
      25% { opacity:1; -webkit-transform:scale(1.06); }
      37% { opacity:1; -webkit-transform:scale(1.30); }
     100% { opacity:1; -webkit-transform:scale(1);} 
}
.finished .back
{
    -webkit-animation:cardDoneAnimation 1s linear 2;
    -webkit-animation-delay:1s;
}

#statistic_view
{
    position:fixed;
    top:30px;
    right:30px;
}
header h1
{
    font-size:16px;
}
.button
{
    border: 1px solid #6FA856;
    background: #92BB46;
    background: -moz-linear-gradient(0% 100% 90deg, #749F38, #B0D853);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B0D853), to(#749F38));
    box-shadow: 0 1px 0px #ffffff;
    -moz-box-shadow: 0 1px 0px #ffffff;
    -webkit-box-shadow: 0 1px 0px #ffffff;
    -box-shadow: inset 0 1px 0px #d8eca9;
    -webkit-box-shadow: inset 0 1px 0px #d8eca9;
    -moz-box-shadow: inset 0 1px 0px #d8eca9;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 -1px 0px #647D31;
    height: 32px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor:pointer;
}
.button:hover 
{
    border-top-color: #b6cc8b;
    background: #509613;
    background: -moz-linear-gradient(0% 100% 90deg, #318403, #83b322);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#83b322), to(#318403));
}

.button:active 
{
    border-top-color: #0e2901;
    box-shadow: inset 0 2px 6px #0e2901;
    -moz-box-shadow: inset 0 2px 6px #0e2901;
    -webkit-box-shadow: inset 0 2px 6px #0e2901;
    background: #3b6e10;
    background: -moz-linear-gradient(0% 100% 90deg, #318403, #83b322);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#83b322), to(#318403));
}