@import 'nib'
global-reset()

body
  background:#f0f0eb;
  color:#777;
  user-select:none;
  font-family: Arial,sans-serif;
  font-size:13px;

#app_footer
  fixed: bottom 0;
  margin-bottom:10px;
  width:100%;
  vertical-align:middle;
  padding:0 10px;
a
  text-decoration: none;

a:visited,a:-webkit-any-link
  color:#777;

a:hover,output
  color:#92BB46;

input[type='text']
  display: inline-block;
  background: white;
  margin: 0 0 10px;
  padding: 9px 10px;
  border: 1px solid #BBB;
  border-radius: 2px;
  box-shadow: 0 1px 1px #fff;
  font: 15px/18px Helvetica Neue,"Arial",Helvetica,Verdana,sans-serif;
  text-shadow: 0 0 1px white;
  color: #555;

input[type='text']:focus
  border-color: #999;

#cards_container
  display:-webkit-box;
  display:-moz-box;
  display:box;
  padding-top:10px;

.column
  -webkit-box-flex:1;
  -moz-box-flex:1;
  box-flex:1;
  width:25%;

.card
  position:relative;
  margin:1em auto;
  width:140px;
  height:140px;
  border:15px solid #fff;
  cursor:pointer;
  box-shadow: 0 2px 9px rgba(0,0,0,0.15);
  -webkit-text-stroke: 1px transparent;
  color:black;
  border-radius:3px;

.card img
    width:100%;

.card .front,.card .back
  background:white;
  position:absolute;
  width:100%;
  height:100%;
  text-align:center;
  -webkit-transition: all .5s ease-in-out;
  -webkit-transform-style:preserve-3d;
  -webkit-transition-delay: .2s;
  transform-style:preserve-3d;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;

:not(.active) .front
  z-index:9;
  font-size:84px;
  font-family:'EB Garamond', serif;

:not(.active) .back
  z-index:8;
  -webkit-transform:rotateY(-180deg);
  transform:rotateY(-180deg);

.active .front, .finished .front
  z-index:9;
  -webkit-transform:rotateY(180deg);
  transform:rotateY(180deg);

.active .back, .finished .back
  z-index:10;
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);

@keyframes cardDoneAnimation
  0%
    opacity:1;
    -webkit-transform:scale(1);
  12%
    opacity:1;
    -webkit-transform:scale(1.03);
  25%
    opacity:1;
    -webkit-transform:scale(1.06);
  37%
    opacity:1;
    -webkit-transform:scale(1.30);
  100%
    opacity:1;
    -webkit-transform:scale(1);

@keyframes cardsDoneAnimation
  0%
    opacity:1;
    -webkit-transform:scale(1);
  12%
    opacity:1;
    -webkit-transform:scale(1.03);
  25%
    opacity:1;
    -webkit-transform:scale(1.06);
  37%
    opacity:1;
    -webkit-transform:scale(1.30);
  100%
    opacity:1;
    -webkit-transform:scale(1);

.finished .back
  -webkit-animation:cardDoneAnimation 1s linear 2;
  -webkit-animation-delay:0.5s;

.all_finished .back
  -webkit-animation:cardsDoneAnimation 1s linear 2;
  -webkit-animation-delay:0.5s;

.modal_panel_bg
  width:100%;
  height:100%;
  opacity:0;
  position:absolute;
  z-index:-1;
  left:0;
  top:0;
  background:rgba(0, 0, 0, .5);
  -webkit-transition:opacity 0.8s cubic-bezier(0,0,0,1);
  -moz-transition:opacity 0.8s cubic-bezier(0,0,0,1);
  -o-transition:opacity 0.8s cubic-bezier(0,0,0,1);
  transition:opacity 0.8s cubic-bezier(0,0,0,1);

.modal_panel_bg:target
  opacity:1;
  z-index:20;

.modal_panel_bg:target .modal_panel
  opacity:1;

.modal_panel
  opacity:0;
  margin: 0 auto;
  height: auto;
  padding: 20px;
  width: 290px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 0 9px rgba(0,0,0,0.65);
  background-color: white;

.modal_panel h1
  color:black;
  margin-top:0px;
  margin-bottom:10px;
  font-size:16px;
  font-weight: bold;

.modal_panel input
  width: 142px;
  margin: 10px 9px 6px 0;

.modal_panel footer
  margin-top: 10px;

.modal_panel small
  float:right;
  font-size:85%;

.mini_panel
  display:inline-block;

.mini_panel a:after,.mini_panel a:before
  content:' | ';

#statistic_view
  z-index:15;
  float: right;
  margin-right: 20px;

#statistic_view label:after
  content:': ';

.button
  border: 1px solid #6FA856;
  background: #92BB46;
  background: -moz-linear-gradient(0% 100% 90deg, #749F38, #B0D853);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B0D853), to(#749F38));
  box-shadow: 0 1px 0px #ffffff;
  box-shadow: inset 0 1px 0px #d8eca9;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 -1px 0px #647D31;
  height: 32px;
  border-radius: 4px;
  cursor:pointer;

.button:hover
  border-top-color: #b6cc8b;
  background: #509613;
  background: -moz-linear-gradient(0% 100% 90deg, #318403, #83b322);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#83b322), to(#318403));

.button:active
    border-top-color: #0e2901;
    box-shadow: inset 0 2px 6px #0e2901;
    background: #3b6e10;
    background: -moz-linear-gradient(0% 100% 90deg, #318403, #83b322);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#83b322), to(#318403));